@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
    font-size: 10px; 
}


body {
    width: 100vw;
    /* height: 100vh; */
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0px ;
    font-size: 2rem;
    border-bottom: .1rem gray solid;
    color: #020202;
}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}
img {
    width: 10rem;
}


button {
   padding: 1rem 2rem;
   background-color: #3E3232 ;
   color: white;
   font-weight: bold;
}

a {
    text-decoration: none;
    color: #3E3232;
} 
/* 
.test {
    width: 300px;
    height: 300px;
    background-color: #A4FE55;
} */

.hero {
    display: flex;
    width: 100vw;
    height: 80vh;
}

.hero_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0rem 4rem;
}

.hero_text > h1 {
    font-size: 3.5rem;
}


.hero_text > p {
    font-size: 2rem;
    font-weight: 200;
}

.hero_image {
    flex: 1;
}

.hero_image__img {
    width: 100%;
}

.hero_text_button {
  font-size: 2.5rem;
  padding: 2rem;
  width: 70%;
  font-weight: 400;
  color: #DFCECE;
}

